In [39]:
s= 4
for i in range(1,s):
    if i== 1 or i == s:
        print(' * '*s)
    if i !=1 or i !=s:
        print(' * ',' '*(s),' *')

 *  *  *  *
 *        *
 *        *
 *        *

In [48]:
def square(s):
    #Complete the code given below
    # Replace the .... by your own code

    length = s

    for i in range(length):
        for j in range(length):
            if(i == 0 or i == length - 1 or j == 0 or j == length - 1):
                print('*', end = ' ')
            else:
                print(' ', end = ' ')
        print()
square(4)

* * * *
*     *
*     *
* * * *

In [11]:
s  = int(input())
for i in range(s):
    print(' * '*s)

5
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [25]:
s = 5
# for i in range(s):
for j in range(s):
    
    print('* '*(s))
# print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
s = 5
for i in range(s):
    for i in range(2*s):
        if (i+1)%2 !=0:
            print('*',end =' ')
        else :
            print('' ,end='')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [106]:
for i in range(s+1):
    if i<= 2:
        print('* '*i)
    elif i==s:
        print('* '*(s+1))
    else :
        print('* ',' '*(i-1),'*')

*
* *
*    *
*     *
* * * * * *

In [132]:
for i in range(1,s+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [180]:
s= 5
for i in range(1,s+1):
    if i <=2 :
        print('* '*i)
    elif i >2 and i<(s-1):
        for i in range(1,s-1):
            print('*' ,' '*(i-1),'*')
    elif i == s :
        print('* '*(s-1))

*
* *
*  *
*   *
*    *
* * * *

In [190]:
width = 6
print('*'.center(width,'*') )

******

In [12]:
s= 4
for i in range(1,s+1):
    print('* '*(s+1-i))

* * * *
* * *
* *
*

In [24]:
for i in range(s):
    for j in range(s - i):
         print('*', end=' ')
    print()

* * * *
* * *
* *
*

In [35]:
j =0
for i in range (1,s+1):
    j = j +i
print(j)

1540

In [3]:
def suma(s):
    ans = 0
    #Write your code here to calculate and return sum of n number.
    for i in range (1,s+1):
        ans = ans +i
    return ans

print(suma(s))

15

In [10]:
# factorial
ans= 1
m =5
for i in range(5):
    ans = ans*(m-i)
print(ans)

120

In [22]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


# change the value for a different result
num = 7

factorial(num)

5040

In [50]:
x= 1   ## using for loop
m=6
for i in range(1,m+1):
    y = (m+1-i)*x
    x = y
print(y)

720

In [ ]:
# fibonacci series

In [52]:
def fibonacci(n):
    a = 0 
    b = 1
    if n ==1 :
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n) :
            c = a+b
            a=b
            b= c
            print(c)

In [55]:
fibonacci(7)  #  How many terms in the series

0
1
1
2
3
5
8

In [54]:
for i in range (1,12+1):
    if 12%i ==0:
        print(i,end =' ')

1 2 3 4 6 12

In [58]:
n=5
for i in range(1,n+1):
    if (i == 1 or i== n ) :
        if 
        ans = True
    else :
        ans = False
print(ans)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3328890407.py, line 4)

In [64]:
import sympy   #Check prime number 
n =1000
sympy.isprime(2)

True

In [65]:
#    Python Code: 
def cheackPrime(n):  
    if(n<2):
        return False
    else:
        for i in range(2,n):
            if(n%i==0):
                return False
                break
        else:
            return True

In [67]:
cheackPrime(10)

False

In [71]:
lt= [ ]
a =  0
b =  0
for i in range(2 ,25) :
    a = a + i
    b = b + a
a

299

In [72]:
lt = []
for i in range(1,24):
#     print(i)
    lt.append(i)
    
print(lt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [79]:
1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144

(1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144)

In [73]:
#Enter Python code here and hit the Run button.sympy.ispr
num1 = 17
num2 = 15
lst = []
for i in range(1,10000):
    if num1%i==0 and num2%i==0 :
        lst.append(i)
print(max(lst))

1

In [11]:
def gcd(a, b):              # greatest common devisor
    # gcd=math.gcd(a,b)
    # return gcd
    while b:
        a,b=b,a%b
    return a

In [12]:
gcd(15, 17)

1

In [75]:
s = "are you enjoying programming"
s = "welcome to the world of geeks"
spt = s.split(" ")
lt2 = []
for i in spt :
    lt2.append(i.title())
' '.join(lt2)

'Welcome To The World Of Geeks'

In [85]:
y =""
for i in spt :
    x = y +" "+ i.capitalize()
    y =x
print(x)

 Welcome To The World Of Geeks

In [97]:
print(s.title())  # 
len(s.split(" "))   # This will became alfo one one of the method

Welcome To The World Of Geeks

6

In [86]:
def capCount(s):
    
    # Code here to print after captilizing first letter of all string
    # and then print the count of number of words
    # Your code should provide a new line after printing
    spt = s.split(" ")
    lt2 = []
    for i in spt :
        lt2.append(i.title())
    x = ' '.join(lt2)
    y = len(lt2) 
    print(x ,'\n', str(y))

In [87]:
def capCount(s):
    
    # Code here to print after captilizing first letter of all string
    # and then print the count of number of words
    # Your code should provide a new line after printing
    spt = s.split(" ")
    lt2 = []
    for i in spt :
        lt2.append(i.title())
    x = ' '.join(lt2)
    y = len(lt2) 
    print(x)
    print(y)

In [88]:
capCount(s)

Welcome To The World Of Geeks
6

In [89]:
def capCoun1t(s):
   
   # Code here to print after captilizing first letter of all string
       print(s.title())
   
  
   # and then print the count of number of words
       print(len(s.split()))

6

In [112]:
lt1 =[]
lt2 = []
lt0 = list(range (1,10))
for i in lt0:
    lt1 =[]
    lt1.append(lt0[i])
    lt1.append(lt0[i-1])
#     print(lt1)
    
    x =sum(lt1)
    lt2.append(x)
print(lt2)
#     i = i+1

IndexError: list index out of range

In [129]:
lt1 =[]
lt2 = []
lt0 = list(range (1,10+1))
for i in lt0:
    if i < 10 :
        lt1 =[]
        lt1.append(lt0[i-1])
        lt1.append(lt0[i])
#     break 
        
#     print(lt1)
    
        x =sum(lt1)
        lt2.append(x)
print(lt2)
#     i = i+1

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [131]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

while len(d) > 0:

        print(d.popitem())

print('Done.')

('baz', 3)
('bar', 2)
('foo', 1)
Done.

In [148]:
numbers = [10, 20]

items = ["Chair", "Table"]

 

for x in numbers:

      for y in items:
    
          print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [10]:
for num in range(10, 14):
    for i in range(2, num):
        if num%i == 1:
            print(num)
        break

11
13

In [100]:
s = 'geeks for geeks' # Code is woriking
sub = 'geeks'
i = 0
lst = []
for i in range(len(s)-len(sub)+1):
    lst.append(s.index(sub,i,len(s)))
for j in set(lst):
    print(j,end = ' ')

0 10

In [102]:
par = s.find(sub)
while par >0 :
    print(par)
    par = s.find(par,par+1)

0

In [49]:
n_s = s[::-1]
print(n_s)

skeeg rof skeeg

In [62]:
s = 'rotaTor'   # Paliendrom code is working
s1 = s.lower()
s2 = s1[::-1]
if s2 == s1 :
    print('paliendrom')
else:
    print('Not a paliendrom')

paliendrom

In [83]:
def patern(s,p):
    sub = p
    i = 0
    lst = []
    for i in range(len(s)-len(sub)+1):
        lst.append(s.find(sub,i,len(s)))
    for j in set(lst):
        j
    return j
p = sub    
print(patern(s,p))

# Same COde
def fun(s,sub):
    return s.find(sub)
print(fun(s,sub))

-1
-1

In [84]:
def fun(s,sub):
    return s.find(sub)
print(fun(s,sub))

-1

In [88]:
s = 'Hello'
s[1:len(s)-1:1]

'ell'

In [126]:
s = "hello"
def up_cap(s):
    x = s.title()
    y = s.upper()
    print(x+'\n'+y)
up_cap(s)

Hello
HELLO

In [140]:
#  Input:
c1 = 'a'
c2 = 'z'
def alphabets(c1,c2):
    for i in range(ord(c1),ord(c2)+1,1):
        print(chr(i),end =' ')

In [141]:
alphabets(c1,c2)

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [147]:
max("geeksforgeeks")

's'

In [152]:
s1='hello' 
s2 = 'fsf'
s1.__add__(s2)

'hellofsf'

In [153]:
print(chr(ord('b')+1))

c

In [156]:
print('geeksforgeeks'.split('ee',1))

['g', 'ksforgeeks']

In [157]:
t=32.00

[round((x-32)*5/9) for x in t]

TypeError: 'float' object is not iterable

In [158]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [159]:
a={4,5,6}
b={2,8,6}
a-b

{4, 5}